{% extends "core/base.html" %}

{% block title %}شروط الاستخدام{% endblock title %}

{% block content %}
<div class="mx-[10%] mt-20 bg-">
    <h1 class="text-3xl text-end my-2 font-semibold">: شروط الاستخدام </h1>
    <hr class="my-2">
    <p class="my-10 whitespace-pre-line text-end text-gray-300 leading-relaxed">
        <span class="text-2xl font-bold text-white">مرحبًا بكم في مكتبتي!</span>
        
        تحدد هذه الشروط والأحكام القواعد واللوائح الخاصة باستخدام <span class="font-semibold">موقع مكتبتي</span>، الموجود على  
        <a href="{% url 'core:index' %}" class="hover:underline font-semibold text-white">maktabati.online</a>.
        
        من خلال الوصول إلى هذا الموقع، نفترض أنك تقبل هذه الشروط والأحكام. <span class="font-semibold text-red-500">يرجى عدم الاستمرار في استخدام مكتبتي</span> إذا كنت لا توافق على جميع الشروط والأحكام الموضحة في هذه الصفحة.
        
        <span class="underline">التعريفات التالية تنطبق على هذه الشروط والأحكام، وسياسة الخصوصية، وإشعار إخلاء المسؤولية، وجميع الاتفاقيات:</span> 
        "العميل"، "أنت"، "الخاص بك" تشير إليك، الشخص الذي يقوم بتسجيل الدخول إلى هذا الموقع والملتزم بشروط الشركة. "الشركة"، "نحن"، "لنا"، "لدينا"، تشير إلى شركتنا. "الطرف"، "الأطراف"، أو "نحن" تشير إلى كل من العميل وأنفسنا. تشير جميع الشروط إلى العرض والقبول والاعتبار اللازم لإتمام العملية بيننا والعميل بطريقة مناسبة لتلبية احتياجات العميل من خلال توفير الخدمات المعلنة وفقًا للقوانين السائدة في هولندا. يشمل أي استخدام للتعريفات أعلاه أو كلمات أخرى في المفرد أو الجمع أو مع الحروف الكبيرة أو الصغيرة الإشارة إلى نفس الشيء.
        
        <span class="text-xl font-semibold">الكوكيز</span>
        
        نحن نستخدم ملفات تعريف الارتباط. باستخدامك لموقع مكتبتي، فإنك توافق على استخدام ملفات تعريف الارتباط بما يتفق مع سياسة الخصوصية الخاصة بمكتبتي.
        
        تستخدم معظم المواقع التفاعلية ملفات تعريف الارتباط لتخزين تفاصيل المستخدم في كل زيارة. تُستخدم ملفات تعريف الارتباط على موقعنا لتمكين بعض الوظائف لتسهيل استخدام الموقع. كما قد تستخدم بعض شركائنا الإعلانيين ملفات تعريف الارتباط.
        
        <span class="text-xl font-semibold">الرخصة</span>
        
        ما لم ينص على خلاف ذلك، فإن مكتبتي و/أو الجهات المرخصة تملك حقوق الملكية الفكرية لجميع المواد الموجودة على مكتبتي. جميع الحقوق محفوظة. يمكنك الوصول إلى المواد على مكتبتي للاستخدام الشخصي فقط وفقًا للقيود المنصوص عليها في هذه الشروط والأحكام.
        
        <span class="font-semibold">يجب عليك عدم:</span>
        <br>
        - إعادة نشر المواد من مكتبتي <br>
        - بيع أو تأجير أو ترخيص المواد من مكتبتي <br>
        - إعادة إنتاج أو نسخ المواد من مكتبتي <br>
        - إعادة توزيع المحتوى من مكتبتي
        
        يبدأ سريان هذا الاتفاق من تاريخ اليوم.
        
        تقدم بعض أجزاء هذا الموقع فرصة للمستخدمين لنشر وتبادل الآراء والمعلومات في مناطق معينة من الموقع. لا يقوم مكتبتي بفلترة أو تعديل أو نشر أو مراجعة التعليقات قبل ظهورها على الموقع. التعليقات تعكس آراء الشخص الذي ينشرها فقط، وليس مكتبتي أو وكلائه أو الشركات التابعة له. لا يتحمل مكتبتي المسؤولية عن أي ضرر أو تكاليف تنتج عن استخدام أو نشر أو ظهور التعليقات على الموقع.
        
        يحتفظ مكتبتي بالحق في مراقبة جميع التعليقات وإزالة أي تعليق يعتبر غير لائق أو ينتهك شروط الاستخدام.
        
        <span class="font-semibold">أنت تتعهد وتضمن:</span>
        <br>
        - أن لك الحق في نشر التعليقات على موقعنا ولديك جميع التراخيص والموافقات اللازمة للقيام بذلك؛ <br>
        - أن التعليقات لا تنتهك أي حقوق ملكية فكرية، بما في ذلك حقوق الطبع أو براءات الاختراع أو العلامات التجارية؛ <br>
        - أن التعليقات لا تحتوي على مواد تشهيرية أو بذيئة أو غير قانونية بأي شكل آخر؛ <br>
        - أن التعليقات لن تُستخدم للترويج لأي أنشطة تجارية أو غير قانونية.
        
        أنت تمنح مكتبتي ترخيصًا غير حصري لاستخدام وإعادة إنتاج وتحرير التعليقات في أي شكل من الأشكال.
        
        <span class="text-xl font-semibold">الروابط إلى موقعنا</span>
        
        يمكن للمنظمات التالية الارتباط بموقعنا دون الحاجة إلى موافقة خطية مسبقة:
        <br>
        - الهيئات الحكومية؛<br>
        - محركات البحث؛<br>
        - المؤسسات الإعلامية؛<br>
        - موزعو الدلائل على الإنترنت؛ <br>
        - الشركات المعتمدة على مستوى النظام باستثناء المنظمات غير الربحية التي تسعى للحصول على التبرعات.
        
        يمكن لهذه المنظمات الارتباط بصفحتنا الرئيسية أو بمعلومات أخرى على الموقع طالما أن الرابط ليس مضللاً أو خاطئًا.
        
        <span class="text-xl font-semibold">نحتفظ بالحق في طلب إزالة أي روابط</span>
        
        إذا وجدت رابطًا غير ملائم، يمكنك الاتصال بنا، وسننظر في طلبك، ولكننا لسنا ملزمين بالرد.
        
        <span class="text-xl font-bold">إخلاء المسؤولية</span>
    
        إلى أقصى حد يسمح به القانون، نستبعد جميع المسؤوليات المرتبطة بالموقع. لا شيء في هذا الإخلاء سوف:
        <ul class="text-end pl-5 ">
            <li>يحد من مسؤوليتنا أو مسؤوليتك عن الوفاة أو الإصابة الشخصية؛</li>
            <li>يحد من مسؤوليتنا أو مسؤوليتك عن الاحتيال أو التحريف؛</li>
            <li>يحد من مسؤولياتنا بأي طريقة غير مسموح بها بموجب القانون؛</li>
            <li>يستبعد أي من المسؤوليات التي لا يمكن استبعادها بموجب القانون.</li>
        </ul>
    
    </p>
    
    
    <div class="my-10 flex items-center justify-center gap-x-6">
      <a href="{% url "core:signup" %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">العودة إلى التسجيل</a>
      <a href="{% url "core:index" %}" class="text-sm font-semibold ">الصفحة الرئيسية <span aria-hidden="true">&rarr;</span></a>
    </div>

</div>
{% endblock content %}
