{% extends 'core/base.html' %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}

<div class="mx-2 md:mx-10 ">
<div class="mx-4 flex flex-wrap flex-row-reverse  md:text-md gap-2 mt-2 mb-6 ">
    <p class="hover:underline">
        <a href="{% url "core:index" %}">
            الصفحة الرئيسية
        </a>
    </p>
    <i class="fas fa-angle-left"></i>
    <p class="hover:underline">
        <a href="{% url "book:authors" %}">
            جميع الكتاب
        </a>
    </p>
    <i class="fas fa-angle-left"></i>
    <p>
        <a>
            {{author.name}}
        </a>
    </p>

</div>
<div class="flex flex-col-reverse items-center justify-center mt-5 md:mt-auto  md:grid md:grid-cols-5 gap-6">



    <div class="relative w-full md:w-auto  md:col-span-4 p-6 bg-gray-50 rounded-xl flex flex-col items-end">

        <h1 class="mb-6 text-3xl">{{ author.name }}</h1>

        <p class="inline-flex flex-row-reverse gap-3 text-gray-500">
            <strong> : الكاتب</strong>
            {{ author.name }}

        </p>

        {% if author.bio %}
            <p class="inline-flex flex-row-reverse  w-full text-end text-gray-500">
                <strong class="text-gray-500"> : الوصف</strong>
                <br>
                <p class="text-end whitespace-pre-line">
                    {{ author.bio }}

                </p>
            </p>
        {% endif %}



    </div>


    <div class="flex items-center justify-center md:block w-full md:col-span-1">
        <img src="{{ author.image.url }}" class="rounded-xl  w-[80%] md:w-full">
    </div>
</div>



</div>



</div>

{% endblock %}