{% extends 'core/base.html' %}

{% block title %}كتب{% endblock %}

{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">
<div class="md:mx-10">
    <h1 class="text-center mb-6 text-4xl font-semibold">أشهر المؤلفين والكتاب</h1>
    <div class="flex flex-row-reverse gap-2 md:mt-2 mb-6 mx-5 ">
                <p class="hover:underline">
                    <a href="{% url "core:index" %}">
                        الصفحة الرئيسية
                    </a>
                </p>
                <i class="fas fa-angle-left"></i>
                <p class="hover:underline">
                    <a href="{% url "book:books" %}">
                        جميع الكتاب
                    </a>
                </p>
    </div>
    <div class=" pb-6 grid gap-4">
        
        <div>
            <div class="mx-5 md:mx-auto grid grid-cols-2 md:grid-cols-8 place-items-start gap-2">
            {% if authors %}
                
                {% for author in authors %}
                    <div class="hover:shadow-2 border rounded-xl border-gray-200 w-full h-full relative">

                        <a href="#" class="w-full ">
                            <div class=" w-full h-[70%]">
                                {% if author.image %}
                                <img src="{{ author.image.url }}" class="rounded-t-xl object-cover w-full h-full">
                                {% endif %}
                            </div>
    
                            <div class="h-[30%] p-6 px-2 bg-white rounded-b-xl">
                                <h2 class="text-end text-xl text-black">{{ author.name }}</h2>
                                <div class="flex items-center mb-5">

                                </div>
                            </div>
                            
                        </a>
                    </div>
                {% endfor %}

                {% else %}
                    {% include "core/soonComponent.html" %}
                {% endif %}

            </div>
        </div>



    </div>

</div>

    
{% endblock %}