{% extends 'core/base.html' %}

{% block title %}كتب{% endblock %}

{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">
<div class="md:mx-10">

    <div class="flex flex-row-reverse gap-2 mt-2 mb-6 ">
                <p class="hover:underline">
                    <a href="{% url "core:index" %}">
                        الصفحة الرئيسية
                    </a>
                </p>
                <i class="fas fa-angle-left"></i>
                <p class="hover:underline">
                    <a href="{% url "book:books" %}">
                        جميع الكتب
                    </a>
                </p>
                {% if category_id %}
                <i class="fas fa-angle-left"></i>
                <p class="hover:underline">
                    <a>
                        {% for category in categories %}
                            {% if category.id == category_id %}
                                {{ category.name }}
                            {% endif %}
                        {% endfor %}
                    </a>
                </p>
                {% endif %}
                
    </div>
    <div class=" pb-6 grid grid-cols-4  gap-4">
        
        <div class="col-span-3">
            <div class="grid grid-cols-6 place-items-end grid-rows-auto gap-2">
            {% if books %}
                
                {% for book in books %}
                    <div class="hover:shadow-2 border rounded-xl border-gray-200 w-full h-full relative">
                        {% if request.user.is_authenticated %}                        
                            <div class="h-10 w-10 flex items-center justify-center cursor-pointer z-10 rounded-3xl bg-white absolute top-2 right-2 text-indigo-700 hover:text-white hover:bg-indigo-700">
                                    <button class="favorite-btn flex items-center justify-center" data-book-id="{{ book.id }}">
                                        <i class="favorite-icon {% if book.id in favorites %}fas fa-heart{% else %}far fa-heart{% endif %}"></i>
                                    </button>
                            </div>
                        {% endif %}
                        <a href="{% url 'book:detail' book.id %}" class="w-full ">
                            <div class=" w-full h-[70%]">
                                <img src="{{ book.image.url }}" class="rounded-t-xl object-cover w-full h-full">
                            </div>
    
                            <div class="h-[30%] p-6 px-2 bg-white rounded-b-xl">
                                <h2 class="text-end text-xl text-black">{{ book.name }}</h2>
                                <p class="text-end text-gray-500">الكاتب : {{ book.author }}</p>
                                <div class="flex items-center mt-2.5 mb-5">
                                    {% with 5 as total_stars %}
                                    <div class="flex items-center space-x-1 rtl:space-x-reverse">
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= book.average_rating %}
                                                <svg class="w-4 h-4 text-indigo-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                                </svg>
                                            {% else %}
                                                <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                                </svg>
                                            {% endif %}
                                        {% endfor %}
                                        <span class="flex items-center justify-center mt-1">
                                            {{ book.average_rating }}
                                        </span>
                                    </div>
                                {% endwith %}
                                <span class=" text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded bg-blue-200  ms-3">
                                    {{ book.average_rating }}
                                    </span>
                                </div>
                            </div>
                            
                        </a>
                    </div>
                {% endfor %}

                {% else %}
                    {% include "core/soonComponent.html" %}
                {% endif %}

            </div>
        </div>
        <div class="col-span-1">
            <form method="get" action="{% url 'book:books' %}" class="flex gap-2 flex-row-reverse">
                <div class="relative w-[500px]">
                    <input type="search" name="query" id="search-dropdown" class="outline-none block px-2.5 py-3 w-full z-20 text-sm text-end text-black bg-gray-50 rounded-l-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder=" ... إبحث عن كتاب أو كاتب"  />
                    <button type="submit" class="absolute top-0 start-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-l-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </div>
            </form>

            <hr class="my-6">
            <div class="flex flex-col items-end">

                <p class="font-bold">تصنيفات</p>
                
                <ul id="category-list" class="flex flex-col items-end">
                    <li class="py-2 px-2 rounded-xl hover:bg-gray-200 {% if not category_id %} bg-gray-200{% endif %}">
                        ({{all_books_count}})
                        <a href="{% url 'book:books' %} "> كل التصنيفات </a>

                    </li>
                    {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl {% if category.id == category_id %} bg-gray-200{% endif %} {% if forloop.counter > 9 %}hidden{% endif %} hover:bg-gray-200">
                        ({{ category.book_count }})  

                        <a href="{% url 'book:books' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                
                <!-- Show more button -->
                <button id="show-more-btn" class="mt-2 px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700">عرض المزيد</button>
                
                <!-- Show less button (initially hidden) -->
                <button id="show-less-btn" class="mt-2 px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 hidden">عرض أقل</button>
                
            </div>

        </div>


    </div>

</div>

    <script>
        document.querySelectorAll('.favorite-btn').forEach(button => {
            button.addEventListener('click', function() {
                const bookId = this.getAttribute('data-book-id');
                const icon = this.querySelector('.favorite-icon');
    
                fetch(`/toggle-favorite/${bookId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.favorite) {
                        icon.classList.remove('far', 'fa-heart');
                        icon.classList.add('fas', 'fa-heart');
                    } else {
                        icon.classList.remove('fas', 'fa-heart');
                        icon.classList.add('far', 'fa-heart');
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });

        document.getElementById('show-more-btn').addEventListener('click', function() {
            const categories = document.querySelectorAll('#category-list li.hidden');
            categories.forEach(category => category.classList.remove('hidden'));
            
            // Hide the 'Show More' button and show the 'Show Less' button
            this.classList.add('hidden');
            document.getElementById('show-less-btn').classList.remove('hidden');
        });
    
        document.getElementById('show-less-btn').addEventListener('click', function() {
            const categories = document.querySelectorAll('#category-list li');
            categories.forEach((category, index) => {
                if (index >= 5) {
                    category.classList.add('hidden');
                }
            });
            
            // Show the 'Show More' button and hide the 'Show Less' button
            this.classList.add('hidden');
            document.getElementById('show-more-btn').classList.remove('hidden');
        });
    </script>
    
    
{% endblock %}