{% extends 'core/base.html' %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}

<div class="mx-10 grid grid-cols-5 gap-6">

    <div class="col-span-1">
        <img src="{{ book.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-3 p-6 bg-gray-900 rounded-xl">

        <h1 class="mb-6 text-3xl">{{ book.name }}</h1>

        <p class="text-gray-500"><strong>Author: </strong>{{ book.author }}</p>
    
        {% if book.description %}
            <p class="text-gray-200">
                <strong class="text-gray-500">Description:</strong><br>
                {{ book.description }}
            </p>
        {% endif %}

        {% if request.user.is_staff %}
            <div class="mt-6 p-6 bg-gray-700 rounded-xl">
                <p>You are the admin </p>

                <a href="{% url 'book:edit' book.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'book:delete' book.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
      {% endif %}

    </div>

</div>

<div class="mt-6 px-6 py-12 rounded-xl">

    <h2 class="mb-12 text-2xl text-center">الكتب ذات الصلة</h2>

    <div class="grid grid-cols-6 grid-rows-1 gap-3">

        {% for book in related_books %}

            <div class="w-full max-w-sm  grid grid-cols-3 py-2 px-4 border  rounded-lg shadow bg-gray-800 border-gray-700">
                <a href="{% url 'book:detail' book.id %}">
                    <img class=" rounded-lg object-contain" src="{{ book.image.url }}" alt="{{book.name}}" />
                </a>
                <div class="flex flex-col gap-2 col-span-2 px-5 pb-5">
                    <a href="{% url 'book:detail' book.id %}">
                        <h5 class="text-xl font-semibold tracking-tight ">{{ book.name }}</h5>
                    </a>
                    <div class="flex items-center mt-2.5 mb-5">
                        <div class="flex items-center space-x-1 rtl:space-x-reverse">
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                        </div>
                        <span class=" text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded bg-blue-200  ms-3">5.0</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-sm font-bold">Author :{{ book.author }}</span>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

</div>


{% endblock %}